[hostname."localhost"]
"/healthy" = "i-am-healthy"

fallback = "frontend"

[hostname."*"]
"/healthy" = "i-am-healthy"
"/healthy/{*rest}" = "$default"

"/api/dev/*" = { target = "api", rules = [
    [
        "method = GET",
        "header.Host = example.com",
        "query.env = dev",
        "header.X-Request-ID=re:^.*",
    ],
    [
        "method = POST",
        "header.Host = example.com",
        "query.env = dev",
    ],
] }

# "re:^/tracing-([0-9|a-z|A-Z]{1,16})/(.*)$" = "api"

fallback = "frontend"

[output."api"]
target = "api-service"
filters = ["rewrite-rest"]
# filters = ["log-request", "add-header"]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     

[output."frontend"]
target = "frontend-service"

[output."$default"]
target = "not-found-page"

[output."i-am-healthy"]
target = "i-am-healthy"
