[data-theme='astro'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.22rem;
	--radius-base: 0rem;
	--radius-container: 0rem;
	--default-border-width: 2px;
	--default-divide-width: 2px;
	--default-ring-width: 2px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(88.25% 0.06 32.99deg);
	--color-primary-100: oklch(81.81% 0.07 30.14deg);
	--color-primary-200: oklch(75.33% 0.09 28.18deg);
	--color-primary-300: oklch(68.56% 0.1 26.16deg);
	--color-primary-400: oklch(62.1% 0.11 25.6deg);
	--color-primary-500: oklch(55.77% 0.13 25.63deg);
	--color-primary-600: oklch(49.45% 0.12 25.68deg);
	--color-primary-700: oklch(42.97% 0.11 25.83deg);
	--color-primary-800: oklch(36% 0.11 25.55deg);
	--color-primary-900: oklch(29.18% 0.1 26.29deg);
	--color-primary-950: oklch(21.88% 0.09 29.23deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(100% 0 none);
	--color-secondary-100: oklch(97.6% 0.01 91.46deg);
	--color-secondary-200: oklch(95.17% 0.03 92.37deg);
	--color-secondary-300: oklch(92.78% 0.04 92.22deg);
	--color-secondary-400: oklch(90.36% 0.05 92.56deg);
	--color-secondary-500: oklch(87.98% 0.06 92.45deg);
	--color-secondary-600: oklch(80.58% 0.06 92.14deg);
	--color-secondary-700: oklch(73.15% 0.06 93.89deg);
	--color-secondary-800: oklch(65.39% 0.06 93.58deg);
	--color-secondary-900: oklch(57.54% 0.06 95.49deg);
	--color-secondary-950: oklch(49.28% 0.06 95.13deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(95.16% 0.03 219.8deg);
	--color-tertiary-100: oklch(88.03% 0.04 231.83deg);
	--color-tertiary-200: oklch(80.57% 0.05 242.62deg);
	--color-tertiary-300: oklch(73.25% 0.06 249.43deg);
	--color-tertiary-400: oklch(65.49% 0.07 255.03deg);
	--color-tertiary-500: oklch(57.8% 0.08 257.87deg);
	--color-tertiary-600: oklch(50.98% 0.08 257.84deg);
	--color-tertiary-700: oklch(43.76% 0.08 259.38deg);
	--color-tertiary-800: oklch(36.4% 0.08 258.74deg);
	--color-tertiary-900: oklch(28.61% 0.08 260.27deg);
	--color-tertiary-950: oklch(20.53% 0.08 258.1deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(98.51% 0.08 107.77deg);
	--color-success-100: oklch(92.28% 0.09 109.39deg);
	--color-success-200: oklch(85.87% 0.09 111.58deg);
	--color-success-300: oklch(79.68% 0.1 113.6deg);
	--color-success-400: oklch(73.07% 0.1 115.53deg);
	--color-success-500: oklch(66.42% 0.11 116.84deg);
	--color-success-600: oklch(59.26% 0.1 117.71deg);
	--color-success-700: oklch(51.99% 0.09 118.16deg);
	--color-success-800: oklch(44.35% 0.09 119.49deg);
	--color-success-900: oklch(36.49% 0.08 120.5deg);
	--color-success-950: oklch(28.07% 0.07 122.7deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-light);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(97.85% 0.12 108.47deg);
	--color-warning-100: oklch(92.9% 0.13 103.9deg);
	--color-warning-200: oklch(88.04% 0.14 99.08deg);
	--color-warning-300: oklch(83.11% 0.14 94.82deg);
	--color-warning-400: oklch(78.32% 0.15 89.7deg);
	--color-warning-500: oklch(73.5% 0.15 84.26deg);
	--color-warning-600: oklch(66.37% 0.13 82.41deg);
	--color-warning-700: oklch(58.93% 0.12 80.5deg);
	--color-warning-800: oklch(51.37% 0.1 77.33deg);
	--color-warning-900: oklch(43.42% 0.09 73.64deg);
	--color-warning-950: oklch(35.23% 0.08 68.04deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(80.05% 0.11 28.39deg);
	--color-error-100: oklch(72.84% 0.12 27.36deg);
	--color-error-200: oklch(65.71% 0.12 26.53deg);
	--color-error-300: oklch(58.31% 0.13 25.91deg);
	--color-error-400: oklch(51.04% 0.13 25.64deg);
	--color-error-500: oklch(43.66% 0.13 25.99deg);
	--color-error-600: oklch(39.04% 0.12 25.86deg);
	--color-error-700: oklch(34.41% 0.11 26.22deg);
	--color-error-800: oklch(29.71% 0.1 26.21deg);
	--color-error-900: oklch(24.75% 0.09 26.89deg);
	--color-error-950: oklch(18.91% 0.08 29.23deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-light);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(100% 0 none);
	--color-surface-100: oklch(92.62% 0 49.03deg);
	--color-surface-200: oklch(85.01% 0 56.48deg);
	--color-surface-300: oklch(77.08% 0.01 48.7deg);
	--color-surface-400: oklch(69.1% 0.01 52.08deg);
	--color-surface-500: oklch(60.97% 0.01 51.23deg);
	--color-surface-600: oklch(53.29% 0.01 52deg);
	--color-surface-700: oklch(45.06% 0.01 48.55deg);
	--color-surface-800: oklch(36.61% 0.01 56.27deg);
	--color-surface-900: oklch(27.45% 0 48.66deg);
	--color-surface-950: oklch(17.76% 0 none);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
