
[flow]
entrypoint = "router"

[flow.nodes."router"]
class = "router"
config = "file://examples/config/tcp/http-gateway/router.toml"

[flow.nodes."api-service"]
class = "reverse-proxy"
config = { backend = "localhost:8081", schema = "http" }

[flow.nodes."frontend-service"]
class = "reverse-proxy"
config = "file://examples/config/tcp/http-gateway/frontend-service.toml"

[flow.nodes."not-found-page"]
class = "static-response"
config = "file://examples/config/tcp/http-gateway/not-found-page.toml"

[flow.nodes."i-am-healthy"]
class = "static-response"
config = "file://examples/config/tcp/http-gateway/i-am-healthy.toml"

[flow.filters."rewrite-rest"]
class = "url-rewrite"
config = { path = "/{rest}" }
